*{
    margin:0;
    padding:0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url("../images/DSC_3400.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}
  
.nav{
    width: 350px;
    height: auto;
    position: absolute ;
    top:20%;
    left:0;
}
.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}
a.active, .nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
}
.a{
    width: 95%;
}
.b{
    width: 85%;
}
.c{
    width: 80%;
}
.d{
    width: 90%;
}

.content{
    position: absolute;
    width: 930px;
    min-height: 500px;
    height: auto;
   
    right: 0;
    top: 10%;

}
.home{
    position: absolute;
    right: 0;
    bottom: -50px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.home h1{
    font-size: 95px;
    padding-right: 90px;  
    border-bottom: 1px solid white;
    text-transform: uppercase;
}
.home h3{
    font-size: 28px;
    padding: 5px 0;
    opacity: 0.6 ;

}
.aboutme{
    position: absolute;
    right: 0;
    top: 10px;
    color:white;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 60px;
    display: none;
}
.aboutme p{
   font-size: 25px;
   line-height: 22px;
   margin-bottom: 15px;
   padding: 5px 0;
   opacity: 0.6 ;
   color: white ;
   font-family: 'Courgette', cursive;
}
.contact{
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
    padding: 0 60px;
    display: none;
}
label,input,textarea{
    display: block;
}
.aboutme h4{
    font-size: 60px;
    padding: 5px 0;
    opacity: 0.6 ;
    font-family: 'Permanent Marker', cursive;
}
